<a [href]="href" (click)="handleClick($event)">
  <ng-content></ng-content>
</a>

<!-- function home() {

  function buttonLink(href, path, ngContent) {

  }

  buttonLink('https://www.st.com/', null, document.createTextNode('ST.com'))
  buttonLink(null, ['products', 'search'], document.createElement('i'))
} -->

<!--

  class ButtonLinkComponent {}

  const buttonLink1 = new ButtonLinkComponent();
  buttonLink1.href = 'https://www.st.com/';

  const buttonLink2 = new ButtonLinkComponent();
  buttonLink1.path = ['products', 'search'];
-->
